[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
psycopg2 = "*"
python-dotenv = "*"
pandas = "*"
coverage = "*"
sqlalchemy = "*"
pep8 = "*"
autopep8 = "*"
bs4 = "*"
flask-cors = "*"
aiohttp = {extras = ["speedups"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
