[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
psycopg2 = "*"
yfinance = "*"
python-dotenv = "*"
pgcopy = "*"
pandas = "*"
alpha-vantage = "*"

[dev-packages]

[requires]
python_version = "3.9"
