[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
psycopg2 = "*"
yfinance = "*"
python-dotenv = "*"
pandas = "*"
alpha-vantage = "*"
coverage = "*"
sqlalchemy = "*"
polygon-api-client = "~=1.0.0b"
pep8 = "*"
autopep8 = "*"
bs4 = "*"
flask-cors = "*"
yahooquery = "*"
aiohttp = {extras = ["speedups"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
